---
import Avatar from "./Avatar.astro";
import Icon from "astro-icon";
import template from "../template";

const { sidebar } = template;
---

<section class="sidebar">
  <Avatar src={sidebar.avatar.src} alt={sidebar.avatar.alt} />
  <hr />
  <article class="sidebar__element">
    <h1 class="sidebar__title">{sidebar.name}</h1>
    <h2 class="siderbar__description">{sidebar.description}</h2>
  </article>
  {
    sidebar.contacts.length > 0 && (
      <>
        <hr />
        <article class="sidebar__element">
          <h2 class="sidebar__subtitle">Contact</h2>
          {sidebar.contacts.map((contact) => (
            <div class="sidebar__content">
              <Icon class="sidebar__icon" name={contact.icon} />
              <a class="sidebar__link" href={contact.link}>
                {contact.text}
              </a>
            </div>
          ))}
        </article>
      </>
    )
  }
</section>

<style>
  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    min-width: 13rem;
  }

  .sidebar__element {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .sidebar__title {
    font-size: 2rem;
    font-weight: 600;
  }

  .siderbar__description {
    font-size: 1.5rem;
    font-weight: 400;
    opacity: 0.7;
  }

  .sidebar__subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .sidebar__icon {
    width: 1.5rem;
  }

  .sidebar__content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .sidebar__link {
    flex: 1;
    text-decoration: none;
  }
</style>
